.HomeWork {
    color: red;
}

#FirstEx {
    color: black;
    background-color: yellow;
}

#FirstEx::first-letter {
    font-size: 250%;
    color: red;
}

.DivFirstEx {
    background-color: yellow;
    display: table;
    /*float:left;                     
/* clear:left;  */
    /*the problem with the second solution: it makes next item (h1) to appear in tjhe same row sticked to this item (and not in the new row as it ought to be)*/
}


#FirstEx1::first-letter {
    font-size: 250%;
    color: red;
}

#secondEx>a:link {
    text-decoration: none;
}

#secondEx>a:visited {
    text-decoration: none;
}

#secondEx>span {
    text-decoration: line-through;
}

#ThirdEx {
    text-align: center;
    text-transform: uppercase;
}

.ex4CSS-grid-container {
    display: grid;
    grid-template-columns: auto 40% auto;
    grid-template-rows: 10% auto 10%;
    background-color: darkblue;
    text-align: center;
    padding: 2%;
}

.theDOG-grid-item {
    grid-area: 1/2/2/3;
    align-content: end;
    color: white;
}

.theDOGex4-grid-item {
    grid-area: 2/2/3/3;
    padding: 20px;
    border: solid 2px white;
    border-radius: 25px;
}

#theDOG4exx {
    display: inline-block;
    max-height: 100%;
    max-width: 100%;
}

.mar4Ex {
    height: 50%;
    grid-area: 3/1/4/4;
}

.theDOG1 {
    position: absolute;
    text-align: center;
    color: white;
    justify-content: center;
    margin: 2%;
    align-content: start;
    left: 50%;
    transform: translate(-50%, -50%);

}



.ex4CSS1-grid-container {
    display: grid;
    background-color: red;
    grid-template-columns: 20% auto 20%;
    grid-template-rows: 100%
}

.theDOGex41-grid-item {
    grid-area: 1/2/2/3;
    justify-content: center;
    align-items: center;
    margin: 10%;
    border: 2px solid white;
    border-radius: 3%;
    padding: 2%;
}


.universeALLcss1Ex5-container {
    width: 80%;
}

.universeALLcss1Ex5-cont {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto;
    background-image: url(universeCSS1ex5.jpeg);
    width: 80%;
    height: 400px;
    align-items: end;
    justify-content: center;
    padding: 0px;
    column-gap: 0px;
    margin: 0px;
    

.imgEarthEx5-grid-item {
    height: 300px;
    width: 300px;
  /*  padding: 0px;
    column-gap: 0px;
    margin: 0px; */
    grid-area: 2/4/3/5;
}

.imgEarthEx5-grid-item {
    height: 200px;
    width: 200px;
    padding: 0px;
    column-gap: 0px;
    margin: 0px;
    grid-area: 2/3/3/4;
}

.imgJupiterEx5-grid-item {
    height: 100px;
    padding: 0px;
    column-gap: 0px;
    margin: 0px;
    grid-area: 2/2/3/3;
}

.universeEx6 {
    background-image: url(universeCSS1ex5.jpeg);
    width: 100%;
    height: 500px;
}

.circle1 {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    left: 60%;
    background-color: white;
}

.circle2 {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    position: absolute;
    left: 45%;
    background-color: white;
    margin-top: 50px;
}

.circle3 {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    left: 40%;
    background-color: white;
    vertical-align:sub;
    margin-top: 300px;
}

.heartTableEx7 {
    border-collapse: collapse;
}

.tdWhite {
    background-image: url('whiteSquareEx7.jpg');
    height:30px;
    width: 30px;
}

.tdBlack {
    background-image: url('blackSquareEx7.jpg');
    height:30px;
    width: 30px;
}

.tdRed {
    background-image: url('redSquareEx7.jpg');
    height:30px;
    width: 30px;
}