
div {
    /* margin: 200px 400px 200px 400px; */
    width: 60%;
    border: 5px dashed;
    border-radius: 15px;
    border-top-color: tomato;
    border-right-color: green;
    border-bottom-color: blue;
    border-left-color: indigo;
    border-spacing: 0px;
    padding: 0%;
    row-gap: 0px;
}

h1 {
    background-color: lightblue;
    margin: 0%;
    row-gap: 0px;
    color: orange;
}

p {
    background-color: tomato;
    color: yellow;
    margin: 0%;
    row-gap: 0px;
    padding: 0px;
}
 h1:hover {
    background-color: yellow;
     color: black;
 }
